<!DOCTYPE html>
<html>
	{% include "header.html" %}
	<body>
	
		<div class="container-fluid mt-4">
			<h1>Notiz erstellen: </h1>
			{% if already_exists %}
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong>Upps!</strong> Die Notiz mit diesem Titel existiert bereits.
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{% endif %}
			<form method="POST">
				<div class="form-group">
					<label for="note-titel">Titel</label>
					<input type="text" class="form-control" id="note-titel" name="note-titel" required>
				</div>
				<div class="form-group">
					<label for="note-text">Text</label>
					<textarea class="form-control" id="note-text" name="note-text" rows="3" required></textarea>
				</div>
				<div class="form-group">
					<label for="note-tag">Tag</label>
					<select class="form-control" id="note-tag" name="note-tag">
						<option value="Schule">Schule</option>
						<option value="Arbeit">Arbeit</option>
						<option value="Freizeit">Freizeit</option>
					</select>
				</div>
				<button type="submit" class="btn btn-primary">Notiz hinzufügen</button>
			</form>
			
		</div>
	</body>
</html>