<!DOCTYPE html>
<html>
	{% include "header.html" %}
	<body>
		
		<div class="container-fluid mt-4">
			{% if not note %}
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong>Upps!</strong> Die Notiz scheint es nicht zu geben.
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{% else %}
				<form method="POST">
					<h1>Wollen Sie die Notiz '{{ note["titel"] }}' löschen: </h1>
					<div class="form-group">
						<label for="note-titel">Titel</label>
						<input type="text" class="form-control" id="note-titel" value="{{ note['titel'] }}" readonly>
					</div>
					<div class="form-group">
						<label for="note-text">Text</label>
						<textarea class="form-control" id="note-text"rows="3" readonly>{{note["text"]}}</textarea>
					</div>
					<button type="submit" class="btn btn-primary">Notiz löschen</button>
				</form>
			{% endif %}
		</div>
	</body>
</html>