<!DOCTYPE html>
<html>
	{% include "header.html" %}
	
	<body>
		
		<div class="container-fluid mt-4">
			<h3>your notes: </h3>
			{% for note in notes %}
				<div class="card" style="width: 18rem; margin: 0.2cm; float:left; background-color: #FFAD33">
					<div class="card-body">
						<h5 class="card-title">{{ note["titel"] }}</h5>
						<p class="card-text">{{ note["text"] }}</p>
						<a href="{{ url_for('edit_note', note_titel=note['titel']) }}" class="card-link">Editieren</a>
						<a href="{{ url_for('delete_note', note_titel=note['titel']) }}" class="card-link">Löschen</a>
					</div>
					
					
				</div>
			{% endfor %}
			
		</div>
		
	</body>
</html>