<!DOCTYPE html>
<html>
	{% include "header.html" %}
	<body>
		
		<div class="container-fluid mt-4">
			<h1>Notiz filtern </h1>
			<form method="POST">
				
				<div class="form-group">
					<label for="note-tag">Tag</label>
					<select class="form-control" id="note-tag" name="note-tag">
						<option value="Schule">Schule</option>
						<option value="Arbeit">Arbeit</option>
						<option value="Freizeit">Freizeit</option>
					</select>
				</div>
				<button type="submit" class="btn btn-primary">Notiz filtern</button>
			</form>
		</div>
	</body>
</html>